
.markdown * {
    border-color: black;
}

.markdown pre {
    color: #ebdbb2;
    background-color: #282828;
    @apply text-sm;
    @apply font-mono;
}

.markdown code {
    @apply text-base;
    @apply font-mono;
    @apply font-normal;
    @apply rounded;
    @apply p-1;
    @apply bg-gray-300;
}

/* Remove backticks that are part of tailwinds typography base style */
.markdown code::before {
    content: '""',
}

.markdown code::after {
    content: '""',
}

.markdown a {
    @apply text-blue-900;
}

.markdown a:hover {
    @apply text-accent-1;
}